@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Pattaya');
@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap');


#main {
    width: 100%;
    height: 100%;
    background-image: url('../images/bg2.jpg');
}

#root {
    width: 100%;
    height: 100%;
}

.register { 
    height: 100%;
    width: 100%;
}

.land{
    display: flex;
  align-items: left;
  justify-content: left;
  height: 85ch;
  background-image: url('../images/bg9.jpg');

}


.land .title h1{
    position: absolute;
    text-align: left;
    font-size: 1000%;
    color: #ff8800;
    font-family:Luckiest Guy;
    margin-top: 1ch;
    border-radius: 25%;
    margin-left: 15%;
    -webkit-text-stroke: 0.0005px black ;
   
}
.land .title h5{
    position: absolute;
    color: #ff8800;
    font-size: 200%;
    top: 80px; 
    left: 820px;
    margin-top: 20ch;
    font-family: Pangolin ;
    border-radius: 10%;

}

.land .image {
    flex-basis: 30%
    
}
.land .image img{
    margin-top:18ch;
   height: 40ch;
   width: 40ch;
    
}
.land .card-1{
    position: absolute;
    top: 800px; 
    left: 1050px;
    width: 25%;   
}

.land .card-2 h2{
    font-family: Cinzel; 
    color: #ff8800;
 }
 .land .card-1 h2{
    font-family: Cinzel; 
    color: #ff8800;
 }
.land .card-3 h2{
   font-family: Cinzel; 
   color: #ff8800;
}

.land .card-2{
    position: absolute;
    top: 800px; 
    left: 600px;
    width: 25%;
    
}

.land .card-3{
    position: absolute;
    top: 800px; 
    left: 150px;
    width: 25%;
    
}



.register h1{
    
    font-family: Luckiest Guy;
    font-size: 5ch;
    color: #ff8800;
    width: 30ch;
    margin-left: 11ch;

}






.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.login {
    height: 100%;
    width: 100%;
    margin-top: 2ch;
        
}

.login h1{
    font-family: Luckiest Guy;
    font-size: 6ch;
    color: #ff8800;
    
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    overflow:auto;
    
}

.login button{
    margin-left: 60%;
    margin-right: 10%;
    font-family: 'Fredoka One';
    font-size: 3ch;
}


.profile .image {
    flex-basis: 30%
    
}
.profile .image img{
    margin-top: 6ch;
   height: 40ch;
   width: 40ch;
}


.list {
    position: absolute;
    top: 500px;
}

.dash {
   margin-left: 50ch;
   margin-right: 5ch;
    border-color: black;
    border-width: 10ch;
    
    background-image:  url('../images/bg8.jpg');
    background-color: orange;
    outline-style: groove;
    outline-color: rgb(7, 4, 0);
}

.dash h1{
    
    font-family:Cinzel;
    text-align: center;
    font-size: 5ch;
    color: rgb(255, 123, 0);
}

.dash h2,h3{
    text-align: center;
    font-family: Cinzel;
  
    font-size: 4ch
}

.dash h5{
    text-align: center;
   
}

.profile .details{
    margin-left: 5ch;
    margin-top: 10ch;
    display: block;
}

.profile .edit{
    position: absolute;
    right: 2ch;
    size: 5ch;

}

.profile .details h1{
    font-family:Fredoka One;
    font-size: 3ch;
}

.card h1{
    font-family:Cinzel;
    font-size: 3ch;
    background-color: cornsilk;
    height: 4ch;
    border-radius: 3ch;
    
}
.card {
    border-color: black;
}

.signupvideo h1{
        font-size: 6ch;
        text-align: center;
        position: absolute;
        top: 28ch;
        right: 20ch;
    
}

.dash .welcome h1{
    text-align: center;
    right: 5ch;
}